:root{
   --header-color: #012D63;
   --Buy-color: #8E32C6;
   --text-color: #FFFFFF;
   --header-black-color: #C7C7C7;
   --order-color: #959595;
   --ua-color: #DCDCDC;
   --time-color: #D8D8D8;
}
.header-list li {
    margin-right: 29px; 
    color: var(--header-black-color);
}
.header {
    display: flex;
    height: 93px; 
    background-color: var(--header-color); 
   

}
.section-colorawe {
   background-image: url(../images/fon-nike.jpg);
   background-size: cover; 
   background-position: center; 
   color: var(--text-color); 
   text-align: left;
   padding: 156px; 
}
.header-list{
   display: flex;
   margin-left: 420px;
   font-size: 24px;
  margin-top: 25px;
}
.header-button{
    color: var(--text-color);
    background: var(--Buy-color);
    cursor: pointer;
    border-radius: 4px;
    border: none;
    font-family: 'Roboto', sans-serif;
    width: 254px;
    height: 67px;
}
.language{
   color: var(--header-black-color)
}
.quality{
   margin: 145px;
   
}
.list-quality{
   display: flex;
   justify-content: space-between;
}
.line{
   width: 1px;
   height: 346px;
   background: var(--header-black-color);
}
.container{
   width: 1200px;
   margin: 0 auto;
   padding: 0 15px;
}
.colorawe-Nike{
   font-size: 72px;
}
.text-colorawe{
   font-size: 18px;
   margin-bottom: 60px;
   width: 508px;
   height: 84px;
}
.h1-colorawe{
   font-size: 144px;
}
.name-logo{
   font-size: 48px;
}
.logo{
   display: flex;
   align-items: center;
   justify-content: space-between;
}
.section-quality{
   background: url(../images/fon-premium.jpg);
   background-size: cover; 
   color: var(--text-color);
}
.section-reviews{
   background: url(../images/fon-reviews.jpg);
   background-size: cover;
   height: 520px;
   color: var(--text-color);
}
.name-order{
   margin-top: 40px ;
}





